.sidebar {
    float: left;
    width: 20%;
    min-height: 100vh;
    min-height: 100vh;
    background-color: $bg-color-sidebar;
}

.main {
    position: relative;
    float: left;
    width: calc(80% - 5px);
    margin-left: 5px;
    min-height: 100vh;
    background-color: $bg-color-sidebar;
}

.header {
    display: flex;
    height: 50px;
    background-color: $color-primary;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;

    h1 {
       padding:0;
       margin: 0;
    }
}


.content {
    position: relative;
    padding: 20px 20px;
    min-height: calc(100vh - 150px) ;
}

.footer {
    display:flex;
    height: 100px;
    align-items: center;
    justify-content:center;
    padding: 0px 20px;

    color: white;
    background-color: $color-primary;
    & p {
        padding: 0;
        margin-bottom:0;
    }
}

.image-display {
    display: none;
}

.image-display.show{
    display: inline-block;
}
