
*{
    &, 
    &::after,
    &::before {
        margin:0;
        padding:0;
        box-sizing: inherit;
    } 
}

a, 
a:hover, 
a:focus {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0; 
    padding: 0; 
    list-style: none;
}

li {
    text-decoration: none;
}

*{
    &, 
    &::after,
    &::before {
        margin:0;
        padding:0;
        box-sizing: inherit;
    } 
}

ul {
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
    // padding-inline-start:0;
}

html {
    //font-size: 10px; //=> 62.5% = 10/16
    font-size: 62.5%;

  /*   @include respond('tab-port'){
        font-size: 50%;
    };
    
    @include respond('tab-land'){
        font-size: 56.25%
    };

    @include respond('big-desktop'){
        font-size: 75%;
    }; */
}

body {
    
    @include respond('tab-port'){
        padding:0;
        // line-height: 1.5;
    };
    font-family: "Lato", sans-serif;
    font-size: 1.4rem !important;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
    padding:3rem;
    box-sizing: border-box;
}

input, 
select, 
option {
   font-size: 1.2rem !important;
   outline:none !important;
}

.form-control:focus {
   box-shadow: unset !important;
}