$color-primary: #C70939;

$color-message: #C70939;

$menu-color-light: #FA5633;
$menu-color: #C70939;
$menu-color-dark: #900C3E;

$color-grey: #777;
$color-grey-dark-1: #333;

$bg-color-sidebar: #F7F7F7;