#cart_items {
  
  .cart_info {
    border: 1px solid #e6e4df;
    margin-bottom: 50px;
  }

  .cart_info .cart_menu {
    background: #dc3545;
    color: #fff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
  }

  .cart_info .table.table-condensed {
    thead tr {
      height: 51px;
    }

    tr {
      border-bottom: 1px solid#F7F7F0;
    }

    tr:last-child {
      border-bottom: 0;
    }
  }

  .cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
    margin-right: 5px;
  }

  .cart_info .image {
    padding-left: 30px;
  }

  .cart_info .cart_description h4 {
    margin-bottom: 0;
  }

  .cart_info .cart_description h4 a {
    color: #363432;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: normal;
  }

  .cart_info .cart_description p {
    color: #696763;
  }

  .cart_info .cart_price p {
    color: #696763;
    font-size: 18px;
  }

  .cart_info .cart_total_price {
    color: #dc3545;
    font-size: 24px;
  }

  .cart_product {
    display: block;
    /*  margin: 15px -70px 10px 25px;*/
  }

  .cart_quantity_button a {
    background: #f0f0e9;
    color: #696763;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
    line-height: 28px;
  }

  .cart_product img {
    height: 80px;
    object-fit: contain;
  }

  input[name="quantity"] {
    color: red;
  }

  .cart_quantity_input {
    color: #696763;
    width: 50px;
    float: left;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  .cart_delete {
    margin-right: -12px;
    overflow: hidden;
  }

  .cart_delete a {
    background: #f0f0e9;
    color: #ffffff;
    padding: 5px 7px;
    font-size: 16px;
    border: none;
  }

  .cart_delete a:hover {
    transition: all 0.5s;
    background: #dc3545;
  }

  .sub-total-price,
  .tax-total-price,
  .total-price {
    display: block;
    text-align: right;
    color: #dc3545;
    font-size: 16px;
  }

  .shipping-cost {
    display: block;
    text-align: right;
  }
}
